@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"]</p>
<adress>
    <strong>Olha o Famoso curso: </strong><a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/learn/lecture/11527650#overview">Curso C# - Nelio Alves</a>
</adress>      
